html { 
    background: black url(background.jpg) center center no-repeat; background-size: cover;
    color: white;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    font-family: Intel, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.Container {
    margin: 2vh;
    background: rgba(95, 236, 255, 0.6);
    padding: 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}
    header {    }
        .Avatar { display: Block; float: left; width: 150px; height: auto; margin: 0 1em 0 0; border-radius: 50%; }
        .TitluPaginii { display: Block; margin: 0; font-size: clamp(2rem, 6vw, 4rem; line-height: 1em; );}
    main {
    }
            .ListaCoaielor { display: Block; margin: 0; padding: 0; border-top: 1px solid rgb(136, 255, 0); }
                .ListaItems { display: Block; margin: 0; padding: 0; border-bottom: 1px solid rgb(136, 255, 0) }
                    .ListaLink { display: Block; padding: 0.5em; color: black; text-decoration: none }
                    .ListaLink:hover {background: rgb(226, 198, 43); color: rgb(136, 255, 0); }
                        .ListaTitlu, .ListaText { display: Block; margin: 0; padding: 0; font-size: 1em; line-height: 1.5em }
                        .ListaText {  }